body {
  background-color: white;
  font-family: 'Gudea', sans-serif;
  margin-left: 5%;
  margin-top: 5%;
}

.name {
  color: #DF723E;
  font-size: 1.4em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact_information, .links_container {
  color: #808284;
  display: inline-block;
  font-size: .85em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.line_of_text, .links {
  color: #58585B;
  display: inline-block;
  text-decoration: none;
}
  .links:hover {
    color: #DF723E;
  }

.primary_titles {
  color: #DF723E;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
}

.categories {
  color: #DF723E;
  font-size: .9em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.description_text {
  color: #808284;
  font-size: .9em;
  margin-left: 2%;
  margin-right: 7%;
}

.detail_text {
  color: #808284;
  font-size: .9em;
  font-style: italic;
  margin-left: 2%;
  margin-right: 7%;
}
